:root {
    --light-background: #f3f3f3;
    --background: #5777e3;
    --dark-background: #080808;
    --accent: #0c2e49;
    --border-color: #e0e0e0;
    --text-color: #fff;
    --text-color-2: #000;
    --secondary-text-color: #666;
    --button-color: #4CAF50;
    --button-hover: #45a049;
    --input: #fff;
    --flip-box-front-color: #ffffff00;
    --flip-box-back-color: #ffffff00;
    --flip-box-border-color: #fff;
    --flip-box-text-color: #000;
    --flip-box-back-text-color: #ffffff;
    --follow-button-bg-start: #0008ff;
    --follow-button-bg-end: #009dff;
    --follow-button-hover-bg: #0056b3;
    --background-color-a: #0008ff;
    --background-color-b: #000323;
    --background-color-c: #131241;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    --shadow-color: #00000010;
}