* {
    --light-background: rgb(80, 97, 135);
    --background: rgb(37, 56, 119);
    --dark-background: rgb(26, 43, 82);
    --accent: rgb(80, 97, 135);
    --border-color: var(--light-background);
    --text-color: whitesmoke;
    --secondary-text-color: var(--accent);

    --button-color: rgb(26, 103, 220);
    --button-hover: rgb(26, 103, 220);
    --input: var(--light-background);
    --background-color: var(--dark-background);
    --flip-box-front-color: #ffffff00;
    --flip-box-back-color: #ffffff00;
    --flip-box-border-color: #fff;
    --flip-box-text-color: #000;
    --flip-box-back-text-color: #ffffff;
    --follow-button-bg-start: #0008ff;
    --follow-button-bg-end: #009dff;
    --follow-button-hover-bg: #0056b3;
    --background-color-a: #0008ff;
    --background-color-b: #009dff;
    --background-color-c: #060f42;
    --text-color: #fff;
    --scrollbar-track-color: #f1f1f104;
    --scrollbar-thumb-color: #5372ffa8;
    --scrollbar-thumb-hover-color: #ffffff;
    --shadow-color: #00000010;
}
