.container {
    align-self: center;
    flex: 4;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    width: 98%;
    animation: elementSwing 2s ease 0s 1 normal forwards;
    display: grid;
    margin-top: 20em;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.app {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: auto;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
}

.options-panel {
    position: fixed;
    top: 8em;
    right: -400px;
    bottom: 8em;
    width: 400px;
    background-color: var(--background-color-c);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.3s ease;
    height: 85%;
    border-radius: 1em;
}


.options-container {
    background-color: var(--background-color-c);
    padding: 1em;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: 75%;
    box-shadow: 1px 6px 16px rgb(0 0 0 / 38%);
    overflow: auto;
}

.options-panel::-webkit-scrollbar,
.options-container::-webkit-scrollbar {
    width: 8px;
}

.options-panel::-webkit-scrollbar,
.options-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.options-panel::-webkit-scrollbar,
.options-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

.options-panel::-webkit-scrollbar,
.options-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}


fieldset {
    border: 2px solid var(--border-color);
    border-radius: 0.5em;
    margin: 0;
    display: grid;
    align-items: center;
    justify-items: stretch;
}

.radio-button:hover + label{
    text-decoration: underline;
    cursor: pointer;
}

.user-info {
    padding: 1em;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.uid {
    color: var(--secondary-text-color);
    font-weight: normal;
    margin: 0;
}

.uid-name {
    display: flex;
    margin: 0 1em 1em;
    justify-content:left;
    row-gap: 1em;
    align-items: flex-end;
    /* text-align: center; */
    flex-flow: row;
    
}

#bio-field {
    resize: vertical;
    max-height: 5em;
    min-height: 2em;
    overflow: auto;
    width: calc(100% - 2em);
    margin: 0 1em;
    padding: 0.2em;
    margin-top: 1em;
    font-family: inherit;
    background-color: #00000036;
    align-content: center;
}

label[for="biography"] {
    /* text-decoration: underline; */
    font-size: 1.25em;
    margin-left: 1em;
}

form {   
    width: 100%;
    /* display: flex;
    flex-flow: column;
    align-items: center; */
}

.forms {
    display: grid;
    padding: 1em;
    grid-template-rows: 3fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.form-row {
    display: flex;
    column-gap: 2em;
}

label {
    margin-right: 0.5em;
}

.user-pfp {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: 0;
    display: block;
    border: 1px solid var(--border-color);
    object-fit: cover; /* Ajoutez cette ligne */
}


.clickable:hover {
    cursor: pointer;
}

.user-info-change {
    grid-column: span 2;
    
}

/*.user-info-change > fieldset {
    display: flex;
    flex-flow: column;
}*/

.user-info-change > fieldset > label {
    font-weight: bold;
}

.user-info-change > fieldset > input{
    margin: 0.5em 0;
}

select, input[type="text"], input[type="file"], input[type="submit"] {
    padding: 2em;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    background-color: var(--flip-box-back-color);
}

.username {
    margin: 0;
}

.usernames {
    margin-left: 0.5em;
    display: flex;
    flex-flow: column;
}

button#followButton, button#saveButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2em;
    height: fit-content;
}

button#followButton:hover, button#saveButton:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}