@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Keyframes -- */

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Styles -- Main*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body*/

body {
  font-family: 'Quicksand', sans-serif;
  color: #222;
  padding-bottom: 50px;
  border: 1px solid #ffffff5c;
}

/*a*/

a {
  color: #007bff; /* Couleur du texte */
  text-decoration: none; /* Suppression du soulignement */
  font-weight: bold; /* Police en gras */
  font-size: 18px; /* Taille de la police */
}

a:hover {
  text-decoration: underline; /* Soulignement au survol */
}

/*hr*/

hr.special {
  border: none; /* Supprimer la bordure par défaut */
  height: 3px; /* Définir la hauteur de la ligne */
  background-color
  background-color: #007bff; /* Définir la couleur de la ligne */
  margin: 20px 0; /* Ajouter une marge au-dessus et en dessous de la ligne */
}

/*button*/

button {
  background-color: #011c91;
  color: #fff;
  border: 1px #001eff solid;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  position: fixed;
  border-radius: 50px;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}


/* Navigation -- */

.logo {
  display: flex;
  align-items: center;
}

.logo-ico {
  width: 80px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-left: 30px;
}

.logo-ico:hover {
  transform: scale(1.1);
}

.logo a {
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-weight: bold;
}


/*.container*/

.container {
  padding: 20px;
}

.nav {
  position: fixed;
  z-index: 1;
  margin: 25px 10%;
  border-radius: 50px;
  background-color: #011c9129;
  border: 1px solid #ffffff5c;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  animation: float 3s ease-in-out infinite alternate;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.nav a:hover {
  color: #007bff;
  font-weight: bold;
  transform: translateY(-3px);
}

.nav a .bi {
  margin-right: 5px; /* Ajout d'un espacement entre l'icône et le texte */
  transition: transform 0.3s ease-in-out; /* Ajout de la transition pour l'effet de rotation */
}

.nav a:hover .bi {
  transform: rotate(360deg); /* Ajout de l'effet de rotation sur les icônes au survol */
}

.nav.active {
  background-color: #ffffffdb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #007bff;
  font-weight: bold;
}

/* Hero -- */

.hero {
  /*background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');*/
  background: radial-gradient(#001eff 0%, #0084ff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  padding: 50px;
  margin: 0px;
  text-transform: uppercase;
  /*z-index: -2;*/
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 5px;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

/*---------------------------------------------*/

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

/*---------------------------------------------*/

.front-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.front-content section {
  margin-top: 20px;
}

.front-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.front-icons {
  margin-top: 20px;
}

.front-link {
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

.front-link i {
  margin-right: 5px;
}

.front-link:hover {
  color: #007bff;
}

/*---------------------------------------------*/

.text-content {
  position: relative;
}

.text-content {
  padding: 50px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.text-content h2 {
  margin-bottom: 20px;
}

.text-content section {
  margin-bottom: 20px;
}

.text-content a {
  color: #007bff;
  background-color: #001eff45;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 20px;
}

.text-content a:hover {
  text-decoration: underline;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  background-color: #001eff24;
  box-shadow: -3px 0px 0px 0px #0008ff;
  border-radius: 10px;
  color: #555;
  position: relative;
  padding: 20px;
  margin: 10px;
  width: 95%;
}

.text-content p:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.text-content p:last-child {
  margin-bottom: 0;
}

/*---------------------------------------------*/

.special {
  border: none; /* Supprimer la bordure par défaut */
  height: 2px; /* Définir la hauteur de la ligne */
  background-color: #007bff; /* Couleur de la ligne */
  margin: 20px 0; /* Ajouter une marge au-dessus et en dessous de la ligne */
  width: 0;
  opacity: 0;
  transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

.special.show {
  width: 40%;
  opacity: 1;
}

/* Columns -- */

.column, .flip-column {
  flex-basis: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: row;
}

.flip-column {
  flex-direction: column;
}

/* Box Container -- Section 3 */

.box-container {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  padding: 50px;
}

.box-container h1 {
  color: #ffffff;
}

/* Box -- Section 3 */

.box {
  z-index: 0;
  background: radial-gradient(#001eff 0%, #0084ff 100%);
  padding: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
  flex-direction: column;
  overflow: hidden;
}

.box h2 {
  font-size: 45px;
}

.box p {
  padding-top: 30px;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

/* Counters Container -- Section 3 */

.counters {
  background: radial-gradient(#001eff 0%, #0084ff 100%);
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 50px;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  .counters {
    flex-direction: column;
  }
}

.but-container {
  background: radial-gradient(#0008ff 0%, #1a71ff 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
}

footer ul li:not(:last-child) {
  margin-right: 10px;
}

footer ul li a {
  color: #007bff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}
