@import url('flip.box.css');

hr {
    border: none;
    height: 1px;
    width: 70em;
    background-color: #ccc;
    margin: 20px 0;
    opacity: 0.5;
}

.container {
    align-self: center;
    flex: 4;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    width: 98%;
    animation: elementSwing 2s ease 0s 1 normal forwards;
    display: grid;
    margin-top: 20em;
    box-shadow: -3px 3px 43px 0px #0000008a;
    border-radius: 0px 30px 0px 0px;
    border: 1px solid #cccccc12;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.app {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: auto;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50px;
    padding: 2px 2px;
    font-size: 14px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.header {
    color: #fff;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 0;
    z-index: 1;
}

.footer {
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}

.user-info-bar {
    background-color: transparent;
    color: #000;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}

.left-column,
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.center-column {
    position: relative;
    overflow: auto;
    flex: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.center-panel::-webkit-scrollbar,
.center-main-panel::-webkit-scrollbar,
.center-column::-webkit-scrollbar {
    width: 8px;
}

.center-panel::-webkit-scrollbar,
.center-main-panel::-webkit-scrollbar,
.center-column::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.center-panel::-webkit-scrollbar,
.center-main-panel::-webkit-scrollbar,
.center-column::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.center-main-panel::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Couleur de la poignée de la barre de défilement au survol */
}

.left-panel {
    justify-content: left;
    align-items: center;
    border: 1px groove;
}

.center-main-panel {
    position: relative;
    flex: 10;
    display: flex;
    justify-items: center;
    flex-direction: row;
    border-radius: 0px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.center-panel {
    position: sticky;
    top: 0px;
    background-color: var(--background-color-c);
    border: 1px solid #cccccc12;
    box-shadow: 3px -4px 20px 0px #000000;
    align-items: center;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    min-width: 99%;
    width: -webkit-fill-available;
    max-height: 15%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    z-index: 9000;
}

.center-panel button {
    border: none;
    background: none;
    cursor: pointer;
}

.center-panel button i {
    font-size: 20px;
}

.tabs-container {
    position: sticky;
    row-gap: 1em;
    top: 0;
    background-color: transparent;
    border-radius: 2px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px 0px;
    padding: 10px;
    width: 50%;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tab.active {
    border-bottom-color: #333;
}

.tab i {
    font-size: 18px;
}

.tab.active i {
    color: #333;
}


.right-panel {
    flex: 1;
    justify-content: right;
    align-items: center;
    padding: 10px;
    display: flex;
    background-color: var(--background-color-b);
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    height: -webkit-fill-available;
}

/* Styles pour les liens */
#right-links ul {
    list-style-type: none;
    padding: 0;
}

#right-links ul li {
    margin-bottom: 10px;
}

#right-links ul li a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.3s;
}

#right-links ul li a:hover {
    background-color: var(--secondary-text-color);
}

.notifications {
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.notifications h2 {
    margin-top: 0;
}

.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications ul li {
    margin-bottom: 10px;
}

.notifications ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-info-bar {
    background-color: transparent;
    color: #000;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}

.topnav {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
}

.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style du badge */
.topnav a::after {
    content: "1";
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
}

.search-bar.collapsed {
    width: 4em;
}

#toggle-search-bar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#recherche-input-wrapper {
    display: flex;
    align-items: center;
}

#recherche-input {
    flex: 1;
}

#barre-recherche {
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border: 1px solid #cccccc12;
    flex-direction: row;
    justify-content: space-around;
}

#barre-recherche input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    width: 25em;
    height: 1.5em;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #ffffff26;
}

#recherche-input-wrapper:hover {
    animation: shake 2s 2s forwards;
}

#barre-recherche button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 1em;
    cursor: pointer;
    border-radius: 50px;
}

#barre-recherche button:hover {
    animation: colorGradient 2s infinite;
}

#bouton-recherche {
    border-left: 1px solid #ccc;
}


.navigation-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    margin: 0.5em;
}

.navigation-buttons button {
    border: none;
    background-color: rgba(50, 53, 243, 0.945);
    padding: 1em;
    cursor: pointer;
    border-radius: 50px;
}

/* Formulaire flipbox */
.floating-form {
    position: fixed;
    background-color: var(--background-color-c);
    color: var(--flip-box-text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    max-width: 20em;
    max-height: 25em;
    height: 100%;
    width: 100%;
    overflow: auto;
}


/* Barre de défilement */
.floating-form::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
    background-color: transparent; /* Couleur de fond de la barre de défilement */
    border-radius: 5px; /* Coins arrondis de la barre de défilement */
}

/* Curseur de la barre de défilement */
.floating-form::-webkit-scrollbar-thumb {
    background-color: #4457ff; /* Couleur du curseur */
    border-radius: 5px; /* Coins arrondis du curseur */
    height: 10px;
}

/* Effet de survol sur le curseur de la barre de défilement */
.floating-form::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Couleur du curseur au survol */
}

/* Effet d'ombre sur la barre de défilement */
.floating-form::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* Ombre sur la barre de défilement */
}

.floating-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: stretch;
    align-content: space-evenly;
}

.floating-form label {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 0.5em;
    width: 15em;
    font-size: 1.1em;
}

.floating-form input[type="text"], .floating-form textarea, .floating-form select, .floating-form input[type="file"], .floating-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.floating-form textarea {
    resize: vertical;
    overflow: auto;
    min-height: 60px;
    width: -webkit-fill-available;
}

.floating-form input[type="submit"] {
    grid-column: span 2;
    width: 100%;
}

/* Faire flotter les icônes au survol */
.floating-form i {
    transition: transform 0.3s ease; /* Animation de transition */
}

.floating-form i:hover {
    transform: translateY(-5px); /* Décalage vers le haut au survol */
}

.image-preview {
    margin-bottom: 20px;
}

.preview {
    border: 1px solid #00b8ff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview img {
    max-width: 100%;
    max-height: 100%;
}

.card-post {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: fit-content;
    width: fit-content;
    margin: 2em;
}

.card-post h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card-post h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.card-post p {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 10px;
}
