/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url('../img/bg/6.png');*/
    background-size: cover; /* Pour couvrir toute la surface */
    background-position: center; /* Centrer l'image */
}

header {
    background-color: rgba(255, 255, 255, 1); /* Fond blanc avec 0% de transparence */
    color: #000;
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    max-width: 50%;
    min-width: 50%;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

footer {
    background-color: rgba(255, 255, 255, 1); /* Fond blanc avec 0% de transparence */
    color: #000;
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    max-width: 50%;
    min-width: 50%;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}


header:hover, footer:hover {
    /*background-color: #007bff;*/
}



nav {
    padding: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

section {
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1); /* Fond blanc avec 0% de transparence */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.3s ease;
    overflow: auto;
}

section:hover {
    transform: scale(1.05);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

form input[type="text"],
form input[type="password"],
form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e6f0ff;
}

form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* CSS pour la galerie d'images */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#section3 {
    max-width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1); /* Fond blanc avec 0% de transparence */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#section3 h4 {
    margin-bottom: 20px;
}

#section3 h2 {
    margin-bottom: 20px;
}

#section3 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#section3 ul li {
    margin-bottom: 10px;
}

#section3 ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 10px;
}


#section3 ul li a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.image-container {
    max-width: 100%; /* Ajout de la largeur maximale */
    overflow: hidden; /* Pour cacher tout débordement de l'image */
    width: 150px;
}

.image-container img {
    max-width: 100%; /* Redimensionner l'image pour s'adapter à la largeur du conteneur */
    height: 20%; /* Permettre à la hauteur de l'image de s'ajuster automatiquement */
    border-radius: 10px; /* Arrondir les coins de l'image */
}

/* Style pour le bouton de fermeture */
.close-button {
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

/* Style pour les boutons */
.toggle-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Style pour cacher le contenu des sections */
.hidden {
    display: none;
}

/* Style pour le contenu de la section */
#conditionsContainer container {
    text-align: center;
}

#conditionsContainer h2 {
    font-size: 24px;
    margin-top: 20px;
}

#conditionsContainer p {
    font-size: 16px;
    margin-bottom: 10px;
}

#conditionsContainer ul {
    list-style-type: none;
    padding-left: 0;
}

#conditionsContainer ul li {
    margin-bottom: 5px;
}

.redirect-button {
    display: block; /* Pour afficher le lien en tant que bloc */
    text-align: center; /* Pour centrer le texte */
    margin-top: 20px; /* Pour ajouter un espacement au-dessus du lien */
    text-decoration: none; /* Pour supprimer le soulignement par défaut */
    color: #007bff; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    transition: color 0.3s; /* Transition fluide de la couleur au survol */
}

.redirect-button:hover {
    color: #0056b3; /* Couleur du texte au survol */
}



/* Style pour <br> et <hr> */
br {
    margin-bottom: 20px;
}

hr {
    margin: 20px auto;
    width: 50%;
    border: none;
    border-top: 1px solid #ccc;
}
